body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans MS", cursive;
  background-image: url("Desktop - 1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.card {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.buttons {
  margin-top: 20px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

#yesBtn {
  background-color: #ff5e7e;
  color: white;
}

#noBtn {
  background-color: #ddd;
}
